.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
        
.pagination li {
    margin: 0 1px;
}
.button {
    color: #FFE4B5;
    background-color: #8B4513;
    border-radius: 4px;
}
:hover.button{
    color:#8B4513;
    background-color: #FFE4B5;
   
    transition: 0.5s;
}